<html>
  <head>
    <style>
      h1 {text-align: center;}
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      table.center {
        margin-left: auto; 
        margin-right: auto;
      }
    </style>
  </head>

  <body>
    <h1>GPU Availability</h1>

    <table class="center">
      <tr>
        <th>Hostname</th>
        <th>User</th> 
        <th>Memory Pressure</th>
        <th>Last Update</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
